{% extends "base.html" %}
{% load static %}
{% load shop_tags %}




{% block content %}
	<!-- CC pc sidebar accordion Start -->
	<div class="cc_pc_accordion_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper2">
						<div class="cc_pc_accordion">
							<ul id="accordion2" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Категории<i class="fa fa-chevron-down"></i>
									</div>
									
									<ul class="submenu">
										<li>
											<div class="content">
												<div class="box">
												<form method="get" action="{% url 'shop:catalog' %}">  <!-- Укажите нужный URL -->
													{% sub_category as categories %}
													{% for subcategory in categories %}
													<p class="cc_pc_color2">
														<input 
														type="checkbox" 
														id="subcategory_{{ subcategory.id }}" 
														name="subcategories" 
														value="{{ subcategory.id }}"
														{% if subcategory.id|stringformat:"i" in request.GET.getlist %}checked{% endif %}
														>
														<label for="subcategory_{{ subcategory.id }}">{{ subcategory.name }}</label>
													</p>
													{% endfor %}
													<button type="submit" class="btn btn-primary">Применить</button>  <!-- Кнопка отправки формы -->
												</form>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
						<div class="cc_pc_accordion">
							<ul id="accordion3" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Price<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu price-range">
										<li class="range">
											<div id="range-price" class="range-box"></div> <span>from:</span>
											<input type="text" id="price" class="price-box" readonly/>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9  col-md-9 col-sm-12 col-xs-12 sidebar2_main_wrapper">
					<div class="sidebar_widget">
						<div class="ss_proadd_wrapper ss_proadd_wrapper_inner">
                            <div class="ss_proadd_box">
                                <h2>{{ top_product.name|default:"Premium Product" }}</h2>
                                <p>Starting ${{ top_product.price }}/</p>
                                <img src="{% if top_product.images.all %}{{ top_product.images.first.image.url }}{% else %}{% static 'images/content/Mockup1.png' %}{% endif %}" 
                                    alt="{{ top_product.name }}" 
                                    title="{{ top_product.name }}" 
                                    class="img-responsive" 
                                    loading="lazy">
                                <a href="#" class="ss_btn">Shop Now!</a>
                            </div>
						</div>
					</div>
					<div class="sidebar_widget2">
						<div class="filter-area">
							<div class="showpro">
								<p><span>Showing 1-9</span> of 256 Results</p>
							</div>
							<select>
								<option>short by</option>
								<option>Laptop</option>
								<option>Ram</option>
								<option>cpu</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="tab-content">

								<div id="grid" class="tab-pane fade in active">
									<div class="row">
                                        {% for product in products %}
										<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 prs_upcom_slide_first">
											<div class="ss_featured_products_box">
												<div class="ss_featured_products_box_img">
                                                    {% if product.discount %}
													    <span class="ss_offer">{{ product.discount }}% off</span>
                                                    {% endif %}
                                                    {% if product.images.all %}
												    	<img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="img-responsive">
                                                    {% else %}
                                                        <img src="{% static "images/content/lp4.jpg" %}" alt="{{ product.name }}" class="img-responsive">
                                                    {% endif %}
												</div>
                                                <div class="ss_feat_prod_cont_heading_wrapper">
                                                    <h4><a href="{% url "shop:product" product_slug=product.slug %}">{{ product.name }}</a></h4>
                                                    <p>{{ product.category.name }}</p>
                                                    {% if product.discount %}
                                                        <del>${{ product.price }}</del> <ins>${{ product.sell_price }}</ins>
                                                    {% else %}
                                                        <ins>${{ product.price }}</ins>
                                                    {% endif %}
                                                </div>
												<div class="ss_featured_products_box_footer">
													<ul>
														<li>
															<button class="ss_btn">Add To Bag</button>
														</li>
														<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
                                        {% endfor %}
									</div>
								</div>								
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
						<!-- blog_pagination_section start -->

						<div class="pager_wrapper gc_blog_pagination">
							<ul class="pagination">
								{% if page_obj.has_previous %}
									<li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a></li>
								{% endif %}
								
								{% for num in page_obj.paginator.page_range %}
									{% if page_obj.number == num %}
										<li class="hidden-xs active"><a href="?{% url_replace request 'page' num %}">{{ num }}</a></li>
									{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
										<li><a href="?{% url_replace request 'page' num %}">{{ num }}</a></li>
									{% endif %}
								{% endfor %}
								
								{% if page_obj.has_next %}
									<li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 visible-sm visible-xs">
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper2">
						<div class="cc_pc_accordion">
							<ul id="accordion8" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Categories<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li>
											<div class="content">
												<div class="box">
													<p class="cc_pc_color1">
														<input type="checkbox" id="c201" name="cb">
														<label for="c201">Mens (55)</label>
														<p class="cc_pc_color2">
															<input type="checkbox" id="c202" name="cb">
															<label for="c202">Womens (245)</label>
														</p>
														<p class="cc_pc_color3">
															<input type="checkbox" id="c203" name="cb">
															<label for="c203">Lighting (11)</label>
														</p>
														<p class="cc_pc_color4">
															<input type="checkbox" id="c204" name="cb">
															<label for="c204">Toys (78)</label>
														</p>
														<p class="cc_pc_color5">
															<input type="checkbox" id="c205" name="cb">
															<label for="c205">Sports (36)</label>
														</p>
														<p class="cc_pc_color6">
															<input type="checkbox" id="c206" name="cb">
															<label for="c206">Hand Made (23)</label>
														</p>
														<p class="cc_pc_color6">
															<input type="checkbox" id="c207" name="cb">
															<label for="c207">Electronics (124)</label>
														</p>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
						<div class="cc_pc_accordion">
							<ul id="accordion9" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Price<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu price-range">
										<li class="range">
											<div id="range-price2" class="range-box"></div> <span>from:</span>
											<input type="text" id="price2" class="price-box" readonly/>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
						<div class="cc_pc_accordion">
							<ul id="accordion10" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Brand<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li>
											<div class="content">
												<div class="box">
													<p>
														<input type="checkbox" id="c301" name="cb">
														<label for="c301">Iphone</label>
														<p>
															<input type="checkbox" id="c302" name="cb">
															<label for="c302">Samsung</label>
														</p>
														<p>
															<input type="checkbox" id="c303" name="cb">
															<label for="c303">Lenovo</label>
														</p>
														<p>
															<input type="checkbox" id="c304" name="cb">
															<label for="c304">Apple</label>
														</p>
														<p>
															<input type="checkbox" id="c305" name="cb">
															<label for="c305">Motorola</label>
														</p>
														<p>
															<input type="checkbox" id="c306" name="cb">
															<label for="c306">Sony</label>
														</p>
														<p>
															<input type="checkbox" id="c307" name="cb">
															<label for="c307">Jbl</label>
														</p>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
						<div class="cc_pc_accordion">
							<ul id="accordion11" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Offers<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li>
											<div class="content">
												<div class="box">
													<p>
														<input type="checkbox" id="c401" name="cb">
														<label for="c401">Iphone</label>
														<p>
															<input type="checkbox" id="c402" name="cb">
															<label for="c402">Samsung</label>
														</p>
														<p>
															<input type="checkbox" id="c403" name="cb">
															<label for="c403">Lenovo</label>
														</p>
														<p>
															<input type="checkbox" id="c404" name="cb">
															<label for="c404">Apple</label>
														</p>
														<p>
															<input type="checkbox" id="c405" name="cb">
															<label for="c405">Motorola</label>
														</p>
														<p>
															<input type="checkbox" id="c406" name="cb">
															<label for="c406">Sony</label>
														</p>
														<p>
															<input type="checkbox" id="c407" name="cb">
															<label for="c407">Jbl</label>
														</p>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
						<div class="cc_pc_accordion">
							<ul id="accordion12" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Availability<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li>
											<div class="content">
												<div class="box">
													<p>
														<input type="checkbox" id="c501" name="cb">
														<label for="c501">Iphone</label>
														<p>
															<input type="checkbox" id="c502" name="cb">
															<label for="c502">Samsung</label>
														</p>
														<p>
															<input type="checkbox" id="c503" name="cb">
															<label for="c503">Lenovo</label>
														</p>
														<p>
															<input type="checkbox" id="c504" name="cb">
															<label for="c504">Apple</label>
														</p>
														<p>
															<input type="checkbox" id="c505" name="cb">
															<label for="c505">Motorola</label>
														</p>
														<p>
															<input type="checkbox" id="c506" name="cb">
															<label for="c506">Sony</label>
														</p>
														<p>
															<input type="checkbox" id="c507" name="cb">
															<label for="c507">Jbl</label>
														</p>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
						<div class="cc_pc_accordion cc_pc_color_accordion">
							<ul id="accordion13" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Colors<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li>
											<div class="content">
												<div class="box">
													<p class="cc_pc_color1">
														<input type="checkbox" id="c601" name="cb">
														<label for="c601">White</label>
														<p class="cc_pc_color2">
															<input type="checkbox" id="c602" name="cb">
															<label for="c602">Black</label>
														</p>
														<p class="cc_pc_color3">
															<input type="checkbox" id="c603" name="cb">
															<label for="c603">Orange</label>
														</p>
														<p class="cc_pc_color4">
															<input type="checkbox" id="c604" name="cb">
															<label for="c604">Blue</label>
														</p>
														<p class="cc_pc_color5">
															<input type="checkbox" id="c605" name="cb">
															<label for="c605">Green</label>
														</p>
														<p class="cc_pc_color6">
															<input type="checkbox" id="c606" name="cb">
															<label for="c606">Yellow (3)</label>
														</p>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="ss_addver_sidebar ss_addver_sidebar_inner">
						<a href="#">
							<img src="images/content/add1.jpg" alt="Add">
						</a>
					</div>
					<div class="col-lg-12 col-md-12 visible-sm visible-xs">
						<!-- blog_pagination_section start -->
						<div class="pager_wrapper gc_blog_pagination">
							<ul class="pagination">
								<li><a href="#">Previous</a>
								</li>
								<li><a href="#">1</a>
								</li>
								<li><a href="#">2</a>
								</li>
								<li class="third_pagger"><a href="#">3</a>
								</li>
								<li class="hidden-xs"><a href="#">4</a>
								</li>
								<li><a href="#">Next</a>
								</li>
							</ul>
						</div>
						<!-- blog_pagination_section end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CC pc sidebar accordion End -->
{% endblock content %}



                        <div class="row">
                            <div
                                class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width"
                            >
                                <div class="cc_ps_quantily_info">
                                    <div class="select_number">
                                        <button
                                            onclick="changeQty(1); return false;"
                                            class="increase"
                                        >
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <input
                                            type="text"
                                            name="quantity"
                                            value="1"
                                            size="2"
                                            id="input-quantity"
                                            class="form-control"
                                        />
                                        <button
                                            onclick="changeQty(0); return false;"
                                            class="decrease"
                                        >
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="hidden" name="product_id" />
                                </div>
                            </div>
                            <div
                                class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width"
                            >

                            </div>
                            <div
                                class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width"
                            >

                            </div>
                            <div
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                                <div class="cc_ps_deliv_main_wrapper">
                                    <div class="cc_ps_deliv_heading">
                                        <p>Delivery :</p>
                                    </div>
                                    <div class="cc_ps_deliv_wrapper">
                                        <div class="cc_ps_searchbar_wrapper">
                                            <input
                                                type="text"
                                                placeholder="Enter Delivery Pincode"
                                            />
                                            <button>CHECK</button>
                                        </div>
                                    </div>
                                    <div
                                        class="cc_ps_bottom_cont_heading_wrapper"
                                    >
                                        <p>Policys :</p>
                                    </div>
                                    <div class="cc_ps_bottom_cont_list_wrapper">
                                        <ul>
                                            <li>
                                                - Security policy (edit with
                                                module Customer reassurance)
                                            </li>
                                            <li>
                                                - Delivery policy (24 Hrs.
                                                Delivery policy)
                                            </li>
                                            <li>
                                                - Return policy (within 15 days
                                                return policy)
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>



<!-- Карта товара -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- CC ps top product Wrapper Start -->
<div class="cc_ps_top_product_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="video_img_section_wrapper">
                    <!-- Навигация для десктопов -->
                    <div class="video_nav_img hidden-xs">
                        {% for img in product.images.all %}
                        <div class="col-xs-12 cc_ps_tabs">
                            <a
                                href="#image-{{ img.id }}"
                                class="button secondary url owl_nav"
                            >
                                <img
                                    src="{{ img.image.url }}"
                                    class="img-responsive"
                                    alt="{{ product.name }}"
                                />
                            </a>
                        </div>
                        {% empty %}
                        <div class="col-xs-12 cc_ps_tabs">
                            <a href="#" class="button secondary url owl_nav">
                                <img
                                    src="{% static 'images/content/li_img1.jpg' %}"
                                    class="img-responsive"
                                    alt="placeholder"
                                />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Основной слайдер -->
                    <div class="cc_ps_top_slider_section">
                        <div class="owl-carousel owl-theme">
                            {% for img in product.images.all %}
                            <div class="item" data-hash="image-{{ img.id }}">
                                <img
                                    class="small img-responsive"
                                    src="{{ img.image.url }}"
                                    alt="{{ product.name }}"
                                />
                            </div>
                            {% empty %}
                            <div class="item" data-hash="image-default">
                                <img
                                    class="small img-responsive"
                                    src="{% static 'images/content/li_img1.jpg' %}"
                                    alt="placeholder"
                                />
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Навигация для мобильных -->
                        <div class="video_nav_img visible-xs">
                            <div class="row">
                                {% for img in product.images.all %}
                                <div class="col-xs-3 cc_ps_tabs">
                                    <a
                                        href="#image-{{ img.id }}"
                                        class="button secondary url owl_nav"
                                    >
                                        <img
                                            src="{{ img.image.url }}"
                                            class="img-responsive"
                                            alt="{{ product.name }}"
                                        />
                                    </a>
                                </div>
                                {% empty %}
                                <div class="col-xs-3 cc_ps_tabs">
                                    <a
                                        href="#image-default"
                                        class="button secondary url owl_nav"
                                    >
                                        <img
                                            src="{% static 'images/content/li_img1.jpg' %}"
                                            class="img-responsive"
                                            alt="placeholder"
                                        />
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="btc_shop_single_prod_right_section">
                    <div class="btc_shop_sin_pro_icon_wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <p>
                            10 Reviews
                            <span><a href="#">Add Your Review</a></span>
                        </p>
                        <div
                            class="ss_featured_products_box_img_list_cont ss_featured_products_box_img_list_cont_single"
                        >
                            <h4><a href="#">{{ product.name }}</a></h4>
                            <p class="shop_pera">{{ product.category.name }}</p>
                            {% if product.discount %}
                            <del>${{ product.price }}</del>
                            <ins>${{ product.sell_price }}</ins>
                            {% else %}
                            <ins>${{ product.price}}</ins>
                            {% endif %}
                            <h5>{{ product.short_description }}</h5>
                        </div>
                    </div>


                    <div class="btc_shop_prod_quanty_bar">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width">
                                    <div class="cc_ps_quantily_info">
                                        <div class="select_number">
                                            <button type="button" onclick="changeQty(0)" class="decrease">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input type="number" name="quantity" value="1" min="1" 
                                                id="input-quantity" class="form-control">
                                            <button type="button" onclick="changeQty(1)" class="increase">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop_btn_wrapper">
                                <ul>
                                    <li>
                                        <button type="submit" class="btn btn-cart">В корзину</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>

                    {% comment %}
                    <div class="btc_shop_prod_quanty_bar">
                        <div class="row">
                            <div
                                class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width"
                            >
                                <div class="cc_ps_quantily_info">
                                    <div class="select_number">
                                        <button
                                            onclick="changeQty(1); return false;"
                                            class="increase"
                                        >
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <input
                                            type="text"
                                            name="quantity"
                                            value="1"
                                            size="2"
                                            id="input-quantity"
                                            class="form-control"
                                        />
                                        <button
                                            onclick="changeQty(0); return false;"
                                            class="decrease"
                                        >
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                             class="shop_btn_wrapper"
                        >
                            <ul>
                                <li>
                                    <a href="#"
                                        >Вкорзину</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CC ps top product Wrapper End -->

<!-- Previous -->
<div class="accordion_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="panel-group" id="accordionFourLeft">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a
                                    data-toggle="collapse"
                                    data-parent="#accordion_oneLeft"
                                    href="#collapseFiveLeftone"
                                    aria-expanded="false"
                                >
                                    Описание
                                </a>
                            </h4>
                        </div>
                        <div
                            id="collapseFiveLeftone"
                            class="panel-collapse collapse in"
                            aria-expanded="false"
                            role="tablist"
                        >
                            <div class="panel-body">
                                <div class="img-accordion">
                                    <img
                                        src="images/content/pro_s1.jpg"
                                        alt=""
                                    />
                                </div>
                                <div class="text-accordion">
                                    <p>
                                        {{ product.description }}
                                    </p>
                                </div>
                            </div>
                            <!-- end of panel-body -->
                        </div>
                    </div>

                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a
                                    data-toggle="collapse"
                                    data-parent="#accordion_oneLeft"
                                    href="#collapseFiveLeftfive"
                                    aria-expanded="false"
                                >
                                    coustmer rivews (03)
                                </a>
                            </h4>
                        </div>
                        <div
                            id="collapseFiveLeftfive"
                            class="panel-collapse collapse in"
                            aria-expanded="false"
                            role="tablist"
                        >
                            <div class="panel-body">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div
                                        class="btc_shop_single_prod_right_section shop_product_single_head"
                                    >
                                        <h1>add your comment</h1>
                                        <div
                                            class="btc_shop_sin_pro_icon_wrapper"
                                        >
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                    <div class="text-accordion shop_pdt_form">
                                        <div class="row">
                                            <div
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                            >
                                                <div class="contect2_form1">
                                                    <input
                                                        type="text"
                                                        placeholder=" Your Name"
                                                    /><i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                            >
                                                <div class="contect2_form1">
                                                    <input
                                                        type="email"
                                                        placeholder="Your Email"
                                                    /><i
                                                        class="fa fa-envelope"
                                                    ></i>
                                                </div>
                                            </div>
                                            <div
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                            >
                                                <div class="contect2_form4">
                                                    <textarea
                                                        rows="4"
                                                        placeholder=" Your comment"
                                                    ></textarea
                                                    ><i
                                                        class="fa fa-question-circle"
                                                    ></i>
                                                </div>
                                            </div>
                                            <div
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                            >
                                                <div
                                                    class="pdt_single_page_btn"
                                                >
                                                    <div
                                                        class="shop_btn_wrapper"
                                                    >
                                                        <ul>
                                                            <li>
                                                                <a href="#"
                                                                    >submit</a
                                                                >
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div
                                        class="btc_shop_single_prod_right_section shop_product_single_head shop_product_single_head_respon"
                                    >
                                        <h1>product rating</h1>
                                        <h4>4.5 <span>overall rating</span></h4>
                                    </div>
                                    <div class="text-accordion shop_pdt_form">
                                        <div class="progress_section">
                                            <div class="progress-wrapper">
                                                <div class="progress-item">
                                                    <span class="progress-title"
                                                        >5 star</span
                                                    >
                                                    <span
                                                        class="progress-percent pull-right"
                                                    >
                                                        50%</span
                                                    >
                                                    <div class="progress">
                                                        <div
                                                            class="progress-bar progress-bar-dealy"
                                                            role="progressbar"
                                                            aria-valuenow="50"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                        ></div>
                                                    </div>
                                                    <!-- /.progress -->
                                                </div>
                                                <!-- /.progress-item -->
                                                <div class="progress-item">
                                                    <span class="progress-title"
                                                        >4 star</span
                                                    >
                                                    <span
                                                        class="progress-percent pull-right"
                                                    >
                                                        92%</span
                                                    >
                                                    <div class="progress">
                                                        <div
                                                            class="progress-bar progress-bar-success progress-bar-dealy"
                                                            role="progressbar"
                                                            aria-valuenow="92"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                        ></div>
                                                    </div>
                                                    <!-- /.progress -->
                                                </div>
                                                <!-- /.progress-item -->
                                                <div class="progress-item">
                                                    <span class="progress-title"
                                                        >3 star
                                                    </span>
                                                    <span
                                                        class="progress-percent pull-right"
                                                    >
                                                        55%</span
                                                    >
                                                    <div class="progress">
                                                        <div
                                                            class="progress-bar progress-bar-danger progress-bar-dealy"
                                                            role="progressbar"
                                                            aria-valuenow="33"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                        ></div>
                                                    </div>
                                                    <!-- /.progress -->
                                                </div>
                                                <!-- /.progress-item -->
                                                <div class="progress-item">
                                                    <span class="progress-title"
                                                        >2 star</span
                                                    >
                                                    <span
                                                        class="progress-percent pull-right"
                                                    >
                                                        45%</span
                                                    >
                                                    <div class="progress">
                                                        <div
                                                            class="progress-bar progress-bar-warning"
                                                            role="progressbar"
                                                            aria-valuenow="45"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                        ></div>
                                                    </div>
                                                    <!-- /.progress -->
                                                </div>
                                                <!-- /.progress-item -->
                                                <div class="progress-item">
                                                    <span class="progress-title"
                                                        >1 star</span
                                                    >
                                                    <span
                                                        class="progress-percent pull-right"
                                                    >
                                                        25%</span
                                                    >
                                                    <div class="progress">
                                                        <div
                                                            class="progress-bar progress-bar-info"
                                                            role="progressbar"
                                                            aria-valuenow="25"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                        ></div>
                                                    </div>
                                                    <!-- /.progress -->
                                                </div>
                                            </div>
                                            <!-- /.progress-wrapper -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="comment_box_blog">
                                        <div
                                            class="sp_comment1_wrapper cmnt_wraper_2"
                                        >
                                            <div class="sp_comment1_img">
                                                <img
                                                    src="images/content/cmnt_3.png"
                                                    alt="comment_img"
                                                    class="img-responsive img-circle"
                                                />
                                            </div>
                                            <div class="sp_comment1_cont">
                                                <h3>Jhon smith</h3>
                                                <p>
                                                    <span
                                                        >june 1, 2018 -
                                                        <a href="#"
                                                            >reply</a
                                                        ></span
                                                    >
                                                </p>
                                                <p>
                                                    Aenean sollicitudin, lorem
                                                    quis bibendum auctor, nisi
                                                    elit consequat ipsum, nec
                                                    sagittis sem nibh id elit.
                                                    Duis sed odio sit amet nibh
                                                    vulputate cursus.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="sp_comment1_wrapper cmnt_wraper_2"
                                        >
                                            <div class="sp_comment1_img">
                                                <img
                                                    src="images/content/cmnt_2.png"
                                                    alt="comment_img"
                                                    class="img-responsive img-circle"
                                                />
                                            </div>
                                            <div class="sp_comment1_cont">
                                                <h3>sandy Doe</h3>
                                                <p>
                                                    <span
                                                        >june 1, 2018 -
                                                        <a href="#"
                                                            >reply</a
                                                        ></span
                                                    >
                                                </p>
                                                <p>
                                                    Aenean sollicitudin, lorem
                                                    quis bibendum auctor, nisi
                                                    elit consequat ipsum, nec
                                                    sagittis sem nibh id elit.
                                                    Duis sed odio sit amet nibh
                                                    vulputate cursus.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="sp_comment1_wrapper cmnt_wraper_2"
                                        >
                                            <div class="sp_comment1_img">
                                                <img
                                                    src="images/content/cmt_1.png"
                                                    alt="comment_img"
                                                    class="img-responsive img-circle"
                                                />
                                            </div>
                                            <div class="sp_comment1_cont">
                                                <h3>sent france</h3>
                                                <p>
                                                    <span
                                                        >june 1, 2018 -
                                                        <a href="#"
                                                            >reply</a
                                                        ></span
                                                    >
                                                </p>
                                                <p>
                                                    Aenean sollicitudin, lorem
                                                    quis bibendum auctor, nisi
                                                    elit consequat ipsum, nec
                                                    sagittis sem nibh id elit.
                                                    Duis sed odio sit amet nibh
                                                    vulputate cursus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of panel-body -->
                        </div>
                    </div>
                    <!--end of /.panel-group-->
                </div>
            </div>

        </div>
    </div>
</div>


<script>
function changeQty(isIncrease) {
    const input = document.getElementById('input-quantity');
    let value = parseInt(input.value) || 0;
    
    if (isIncrease) {
        value++;
    } else {
        value = Math.max(1, value - 1);
    }
    
    input.value = value;
    return false;
}
</script>


{% endblock content %}
