{% extends "base.html" %}
{% load static %}



{% block content %}
	<div class="jp_contact_heading_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="ss_services_box ss_services_box_contact">	<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						<h4>Address</h4>
						<p>Web Company Name,
							125, Colis Street ABC45
							India #010101</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="ss_services_box ss_services_box_contact ss_services_box_contact2">	<span><i class="fa fa-phone" aria-hidden="true"></i></span>
						<h4>Phone</h4>
						<p>+1-804-548-5214<br>+1-804-548-5214</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="ss_services_box ss_services_box_contact ss_services_box_contact3">	<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
						<h4>Email</h4>
						<p><a href="#">Support@example.com</a><br><a href="#">Support@example.com</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="ss_services_box ss_services_box_contact ss_services_box_contact3">	<span><i class="fa fa-globe" aria-hidden="true"></i></span>
						<h4>Web Address</h4>
						<p><a href="#">www.example.com</a><br><a href="#">www.example.com</a></p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock content %}
