{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- CC ps top product Wrapper Start -->
<div class="cc_ps_top_product_main_wrapper">
    <div class="container">
        <div class="row">
            <!-- Левая колонка с изображениями -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="video_img_section_wrapper">
                    <!-- Навигация для десктопов -->
                    <div class="video_nav_img hidden-xs">
                        {% for img in product.images.all %}
                        <div class="col-xs-12 cc_ps_tabs">
                            <a href="#image-{{ img.id }}" class="button secondary url owl_nav">
                                <img src="{{ img.image.url }}" class="img-responsive" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% empty %}
                        <div class="col-xs-12 cc_ps_tabs">
                            <a href="#" class="button secondary url owl_nav">
                                <img src="{% static 'images/content/li_img1.jpg' %}" class="img-responsive" alt="placeholder">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Основной слайдер -->
                    <div class="cc_ps_top_slider_section">
                        <div class="owl-carousel owl-theme">
                            {% for img in product.images.all %}
                            <div class="item" data-hash="image-{{ img.id }}">
                                <img class="small img-responsive" src="{{ img.image.url }}" alt="{{ product.name }}">
                            </div>
                            {% empty %}
                            <div class="item" data-hash="image-default">
                                <img class="small img-responsive" src="{% static 'images/content/li_img1.jpg' %}" alt="placeholder">
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Навигация для мобильных -->
                        <div class="video_nav_img visible-xs">
                            <div class="row">
                                {% for img in product.images.all %}
                                <div class="col-xs-3 cc_ps_tabs">
                                    <a href="#image-{{ img.id }}" class="button secondary url owl_nav">
                                        <img src="{{ img.image.url }}" class="img-responsive" alt="{{ product.name }}">
                                    </a>
                                </div>
                                {% empty %}
                                <div class="col-xs-3 cc_ps_tabs">
                                    <a href="#image-default" class="button secondary url owl_nav">
                                        <img src="{% static 'images/content/li_img1.jpg' %}" class="img-responsive" alt="placeholder">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Правая колонка с информацией о товаре -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="btc_shop_single_prod_right_section">
                    <div class="btc_shop_sin_pro_icon_wrapper">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <p>10 Reviews <span><a href="#">Add Your Review</a></span></p>
                        </div>
                        <div class="ss_featured_products_box_img_list_cont ss_featured_products_box_img_list_cont_single">
                            <h4>{{ product.name }}</h4>
                            <p class="shop_pera">{{ product.category.name }}</p>
                            {% if product.discount %}
                                <del>${{ product.price }}</del>
                                <ins>${{ product.sell_price }}</ins>
                            {% else %}
                                <ins>${{ product.price }}</ins>
                            {% endif %}
                            <h5>{{ product.short_description }}</h5>
                        </div>
                    </div>

                    <!-- Форма добавления в корзину -->
                    <div class="btc_shop_prod_quanty_bar">
                        <form method="post" action="{% url 'cart:cart_add' product_id=product.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width">
                                    <div class="cc_ps_quantily_info">
                                        <div class="select_number">
                                            <button type="button" class="decrease">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input type="number" name="quantity" value="1" min="1" 
                                                id="input-quantity" class="form-control">
                                            <button type="button" class="increase">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit" class="ss_btn">Add To Bag</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CC ps top product Wrapper End -->

<!-- Описание товара и отзывы -->
<div class="accordion_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="panel-group" id="accordionFourLeft">
                    <!-- Блок с описанием -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion_oneLeft" 
                                   href="#collapseFiveLeftone" aria-expanded="false">
                                    Описание
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFiveLeftone" class="panel-collapse collapse in" 
                             aria-expanded="false" role="tablist">
                            <div class="panel-body">
                                <div class="text-accordion">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Функция изменения количества
function changeQty(isIncrease) {
    const input = document.getElementById('input-quantity');
    let value = parseInt(input.value) || 1;
    
    if (isIncrease) {
        value++;
    } else {
        value = Math.max(1, value - 1);
    }
    
    input.value = value;
}

// Инициализация кнопок +/-
document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.increase').addEventListener('click', function() {
        changeQty(true);
    });
    
    document.querySelector('.decrease').addEventListener('click', function() {
        changeQty(false);
    });
});

// Инициализация слайдера
$(document).ready(function(){
    $(".owl-carousel").owlCarousel({
        items: 1,
        loop: true,
        nav: true,
        dots: false,
        URLhashListener: true,
        startPosition: 'URLHash'
    });
});
</script>

<style>
/* Стили для кнопок количества */
.select_number {
    display: flex;
    align-items: center;
    gap: 5px;
}

.select_number button {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    cursor: pointer;
}

.select_number input {
    width: 50px;
    text-align: center;
}

/* Адаптивные стили */
@media (max-width: 767px) {
    .video_nav_img .cc_ps_tabs {
        padding: 5px;
    }
}
</style>

{% endblock content %}