{% extends "base.html" %}
{% load static %}
{% load shop_tags %}




{% block content %}
	<!-- CC pc sidebar accordion Start -->
	<div class="cc_pc_accordion_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper2">
						<div class="cc_pc_accordion">
							<ul id="accordion2" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Категории<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li>
											<div class="content">
												<div class="box">
												<form method="get" action="{% url 'shop:catalog' %}">
													{% sub_category as categories %}
													{% for subcategory in categories %}
													<p class="cc_pc_color2">
														<input 
														type="checkbox" 
														id="subcategory_{{ subcategory.id }}" 
														name="subcategories" 
														value="{{ subcategory.id }}"
														{% if subcategory.id|stringformat:"i" in request.GET.getlist %}checked{% endif %}
														>
														<label for="subcategory_{{ subcategory.id }}">{{ subcategory.name }}</label>
													</p>
													{% endfor %}
													<button type="submit" class="btn btn-primary">Применить</button>
												</form>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
						<div class="cc_pc_accordion">
							<ul id="accordion3" class="accordion">
								<li class="default open">
									<div class="link cc_product_heading">Price<i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu price-range">
										<li class="range">
											<div id="range-price" class="range-box"></div> <span>from:</span>
											<input type="text" id="price" class="price-box" readonly/>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9  col-md-9 col-sm-12 col-xs-12 sidebar2_main_wrapper">
					<div class="sidebar_widget">
						<div class="ss_proadd_wrapper ss_proadd_wrapper_inner">
                            <div class="ss_proadd_box">
                                <h2>{{ top_product.name|default:"Premium Product" }}</h2>
                                <p>Starting ${{ top_product.price }}/</p>
                                <img src="{% if top_product.images.all %}{{ top_product.images.first.image.url }}{% else %}{% static 'images/content/Mockup1.png' %}{% endif %}" 
                                    alt="{{ top_product.name }}" 
                                    title="{{ top_product.name }}" 
                                    class="img-responsive" 
                                    loading="lazy">
                                <a href="#" class="ss_btn">Shop Now!</a>
                            </div>
						</div>
					</div>
					<div class="sidebar_widget2">
						<div class="filter-area">
							<div class="showpro">
								<p><span>Showing 1-9</span> of 256 Results</p>
							</div>
							<select>
								<option>short by</option>
								<option>Laptop</option>
								<option>Ram</option>
								<option>cpu</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="tab-content">

								<div id="grid" class="tab-pane fade in active">
									<div class="row">
                                        {% for product in products %}
										<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 prs_upcom_slide_first">
											<div class="ss_featured_products_box">
												<div class="ss_featured_products_box_img">
                                                    {% if product.discount %}
													    <span class="ss_offer">{{ product.discount }}% off</span>
                                                    {% endif %}
                                                    {% if product.images.all %}
												    	<img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="img-responsive">
                                                    {% else %}
                                                        <img src="{% static "images/content/lp4.jpg" %}" alt="{{ product.name }}" class="img-responsive">
                                                    {% endif %}
												</div>
                                                <div class="ss_feat_prod_cont_heading_wrapper">
                                                    <h4><a href="{% url "shop:product" product_slug=product.slug %}">{{ product.name }}</a></h4>
                                                    <p>{{ product.category.name }}</p>
                                                    {% if product.discount %}
                                                        <del>${{ product.price }}</del> <ins>${{ product.sell_price }}</ins>
                                                    {% else %}
                                                        <ins>${{ product.price }}</ins>
                                                    {% endif %}
                                                </div>
												<div class="ss_featured_products_box_footer">
													<ul>
														<li>
															<form method="post" action="{% url 'cart:cart_add' product_id=product.id %}">
																{% csrf_token %}
																<button class="ss_btn">Add To Bag</button>
															</form>
														</li>
														<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
                                        {% endfor %}
									</div>
								</div>								
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
						<!-- blog_pagination_section start -->
						<div class="pager_wrapper gc_blog_pagination">
							<ul class="pagination">
								{% if page_obj.has_previous %}
									<li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a></li>
								{% endif %}
								
								{% for num in page_obj.paginator.page_range %}
									{% if page_obj.number == num %}
										<li class="hidden-xs active"><a href="?{% url_replace request 'page' num %}">{{ num }}</a></li>
									{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
										<li><a href="?{% url_replace request 'page' num %}">{{ num }}</a></li>
									{% endif %}
								{% endfor %}
								
								{% if page_obj.has_next %}
									<li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CC pc sidebar accordion End -->
{% endblock content %}
